@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 12px;
    }
  }

  .title {
    font-size: 10px;
    font-weight: 200;
    color: $soft-color;
    text-transform: uppercase;

    @include lg {
      display: none;
    }
  }

  .listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $soft-bg;
    }

    img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    .listItemTitle {
      font-size: 14px;
      white-space: nowrap;

      @include lg {
        display: none;
      }
    }
  }
}
