@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $soft-bg;
  gap: 8px;

  @include sm {
    padding: 10px 12px;
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 16px;

      @include sm {
        font-size: 14px;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 16px;

    .user {
      align-items: center;
      display: flex;
      gap: 8px;

      img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        @include sm {
          display: none;
        }
      }
    }
  }
}
