.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 0;
    min-width: 0;
    span{
        // sice we had two spans and each spn required a diff font style
        // we used the concept of first anfd last childs 
        // feature of sass
        &:first-child{
            font-weight: bold;
        }
        &:last-child{
            font-size: 14px;
        }






    }



}