@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-top: 2px solid $soft-bg;
  gap: 8px;

  @include sm {
    padding: 10px 12px;
    justify-content: center;
    text-align: center;
  }

  span {
    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-size: 13px;
      color: $soft-color;
    }
  }
}
